<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/utilities.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <title>Log Book</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <img src="./assets/icon/ic-hamburger.png" alt="" />
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header d-block ms-auto me-2 mb-4">
                        <a class="btn-closed" data-bs-dismiss="offcanvas" aria-label="Close"><img src="./assets/icon/ic-close.png" alt="" /></a>
                        <!-- <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"><img src="./assets/icon/ic-close.png" alt="" /></button> -->
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item">
                                <a class="ps-3 nav-link active mb-4" aria-current="page" href="/">Arsip Log Book</a>
                            </li>
                            <li class="nav-item">
                                <a class="ps-3 nav-link mb-4" href="/insert-logbook ">Isi Log Book</a>
                            </li>
                            <li class="nav-item">
                                <a class="ps-3 nav-link mb-4" href="/perbaikan">Form Perbaikan Alat</a>
                            </li>
                            <li class="nav-item">
                                <a class="ps-3 nav-link mb-4" href="/histori-perbaikan">Histori Perbaikan</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="navbar-brand d-block mx-auto" href="#">Histori Perbaikan Spektrofotometer UV-Vis</a>
                <a href="/api/logout" id="logout">Hello <span style="text-transform: capitalize" id="nama_analis"><%= nama %> </span> </a>
            </div>
        </nav>

        <section class="section section-table pt-3 mb-5">
            <div class="container-fluid">
                <div class="table-responsive mx-lg-5 scrollfit mb-5">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Nama Analis</th>
                                <th scope="col">Jenis Perbaikan</th>
                                <th scope="col">Tanggal Perbaikan</th>
                                <th scope="col">Tindakan</th>
                                <th scope="col">Status Alat</th>
                            </tr>
                        </thead>
                        <tbody id="data-table">
                            <% if(histori.length != 0){ var i = 1; histori.forEach((data)=>{ %>
                            <tr>
                                <td><%= i; %></td>
                                <td><%= data.nama; %></td>
                                <td><%= data.jenis_perbaikan; %></td>
                                <td><%= data.tgl_perbaikan; %></td>
                                <td><%= data.tindakan; %></td>
                                <td><%= data.status_alat; %></td>
                            </tr>
                            <% i++ }) } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </body>

    <script src="./js/historiPerbaikan.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>
